.contact {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    padding: 60px;
    background: #0d0d0d;
    color: white;
}


.contact_info {
    width: 400px;
}


.contact_info h1 {
    font-size: 42px;
    margin-bottom: 30px;
}


.contact_info p {
    font-size: 18px;
    margin: 20px 0;
    color: #ddd;
}



.contact_form {
    background: #171717;
    padding: 35px;
    width: 380px;
    border-radius: 15px;
}


.contact_form h2 {
    color: red;
    margin-bottom: 30px;
}



.contact_form input,
.contact_form select,
.contact_form textarea {

    width: 100%;
    padding: 15px;
    margin-bottom: 15px;

    background: #111;
    border: 1px solid #333;

    color: white;
    border-radius: 8px;

    font-size: 16px;
}



.contact_form textarea {
    height: 120px;
    resize: none;
}



.contact_form button {

    width: 100%;
    padding: 15px;

    background: #ff1f1f;
    border: none;

    color: white;
    font-size: 18px;
    font-weight: bold;

    border-radius: 8px;
    cursor: pointer;

}


.contact_form button:hover {
    background: #cc0000;
}