{% extends 'basa.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/trenery.css' %}">
{% endblock %}



{% block content %}

<section class="trainers">

    <h1>Наши тренеры</h1>


    <div class="trainer_container">


        {% for trainer in trenerys %}

        <div class="trainer_card">


            <div class="trainer_image">

                <img src="{{ trainer.image.url }}" alt="{{ trainer.name }}">

            </div>


            <div class="trainer_info">


                <h2>
                    {{ trainer.name }}
                </h2>


                <h3>
                    {{ trainer.sport }}
                </h3>


                <p>
                    Опыт: {{ trainer.experiense }} лет
                </p>


                <p class="description">
                    {{ trainer.description }}
                </p>


            </div>


        </div>


        {% empty %}

        <h2>Тренеры пока не добавлены</h2>

        {% endfor %}



    </div>


</section>


{% endblock %}